@import "abstracts/variables";
@import "base/typography";

.carousel-container {
  .slide-section {
    min-height: 350px;

    img {
      max-height: 200px;
      max-width: 500px;
      width: 100%;
      object-fit: cover;
    }

    h2 {
      color: $text-primary;
      font-size: $heading-size;
    }

    p {
      max-width: 600px;
      color: $text-secondary;
      font-weight: lighter;
      font-size: $paragraph-size;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .carousel-container {
    .slide-section {
      p {
        max-width: 800px;
      }
    }
  }
}
