<div class="container-fluid carousel-container py-5 p-lg-5">
  <ngb-carousel [showNavigationArrows]="slides.length > 1 && showNavigationArrows"
    [showNavigationIndicators]="slides.length > 1 && showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let slide of slides">
      <div class="d-flex d-flex-column slide-section text-center">
        <div class="align-self-center w-100">
          <img *ngIf="slide.src" [attr.src]="slide.src" [attr.alt]="slide.heading">
          <h2 class="mt-2">{{slide.heading}}</h2>
          <p class="m-0 mx-auto px-md-5 pb-5">{{slide.description}}</p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>