<div class="container carousel-container p-5">
  <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide>
      <div class="slide-section text-center">
        <img src="assets/carousel/issuers/Ishare.png" alt="Ishare Pro">
        <h2>iShare Pro</h2>
        <p class="m-0 mx-auto pb-5">Our share registry software ISharePro is a trend setting proprietary software that
          was
          designed from the ground up, in consideration with the CDSC IT vendors and has been specifically written to
          integrate fully with the CDSC environment.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="slide-section text-center">
        <img src="assets/carousel/shareholders/mpesa.png" alt="Mpesa">
        <h2>Title 2</h2>
        <p class="m-0 mx-auto pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia sequi nihil eum
          maxime odio
          excepturi
          voluptas
          optio sit totam quasi?</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>