<mat-sidenav-container>

  <!-- Sidenav for small screens -->
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <ul class="p-0 m-0">
        <li class="my-3" mat-list-item routerLink="/about" (click)="sidenav.close()">
          <span class="d-inline px-2"><a>About us</a></span>
        </li>
        <li class="my-3" mat-list-item routerLink="/payroll" (click)="sidenav.close()">
          <span class="d-inline px-2"><a>Payroll</a></span>
        </li>
        <li class="my-3" mat-list-item>
          <span class="d-inline px-2">
            <a [matMenuTriggerFor]="menu">Share registration <mat-icon>arrow_drop_down</mat-icon></a>
            <mat-menu #menu="matMenu">
              <ul class="p-0 m-0">
                <li mat-menu-item routerLink="/share-registration" (click)="sidenav.close()"><a>Share registration</a>
                </li>
                <li mat-menu-item routerLink="/shareholders" (click)="sidenav.close()"><a>For Shareholders</a></li>
                <li mat-menu-item routerLink="/issuers" (click)="sidenav.close()"><a>For Issuers</a></li>
                <li mat-menu-item routerLink="/news" (click)="sidenav.close()"><a>News</a></li>
              </ul>
            </mat-menu>
          </span>
        </li>
        <li class="my-3" mat-list-item routerLink="/contact-us" (click)="sidenav.close()">
          <span class="d-inline px-2"><a>Contact us</a></span>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Application navigation toolbar -->
    <app-navigation (sidenavToggle)="sidenav.toggle()"></app-navigation>

    <!-- Main content goes here -->
    <ng-content></ng-content>

    <!-- Application footer -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>