<div class="testimonials-container row mx-auto mx-xl-5">
  <div class="col-12 col-lg-4 my-2 my-lg-0">
    <app-testimonial-card>
      <ng-container class="quote">You guys are the best! Keep up the great work!</ng-container>
      <ng-container class="name">Jane Onyebadi</ng-container>
      <ng-container class="title">Shareholder</ng-container>
    </app-testimonial-card>
  </div>
  <div class="col-12 col-lg-4 my-2 my-lg-0">
    <app-testimonial-card>
      <ng-container class="quote">I just wanted to let you know that it’s been great working with you.
      </ng-container>
      <ng-container class="name">Titus Kimani</ng-container>
      <ng-container class="title">Shareholder</ng-container>
    </app-testimonial-card>
  </div>
  <div class="col-12 col-lg-4 my-2 my-lg-0">
    <app-testimonial-card>
      <ng-container class="quote">Thank you so much for a job well done. We appreciate you.</ng-container>
      <ng-container class="name">Boniface Omondi</ng-container>
      <ng-container class="title">Shareholder</ng-container>
    </app-testimonial-card>
  </div>
</div>