<div class="testimonials-container row mx-auto mx-xl-5">
  <div class="col-12 col-lg-4 my-2 my-lg-0">
    <app-testimonial-card>
      <ng-container class="quote">Good job. Thank you for another sucessful year managing our shareholders.
      </ng-container>
    </app-testimonial-card>
  </div>
  <div class="col-12 col-lg-4 my-2 my-lg-0">
    <app-testimonial-card>
      <ng-container class="quote">I just wanted to let you know that it’s been great working with you.
      </ng-container>
    </app-testimonial-card>
  </div>
  <div class="col-12 col-lg-4 my-2 my-lg-0">
    <app-testimonial-card>
      <ng-container class="quote">Thank you so much for all your work. You have greatly reduced our workload.
      </ng-container>
    </app-testimonial-card>
  </div>
</div>