<!-- Outer Wrapper -->
<footer class="p-5">

  <!-- Inner Wrapper -->
  <div class="row m-0 footer-container mx-auto">

    <!-- Column 1 Section -->
    <div class="column1 px-3 mt-4 mt-lg-0 col-12 col-lg-4">

      <!-- Comprite Logo Section -->
      <div class="footer-logo">
        <img src="assets/logo/logo_white.png" alt="Comprite">
        <span class="mx-2">Comprite Kenya</span>
      </div>

      <p class="py-2 m-0">
        Comp-rite Kenya Ltd is a locally owned and operated company that has been in existence since 1972.
      </p>

      <!-- Follow us Section -->
      <h2>Follow us</h2>
      <div class="row icon-container m-0">
        <div class="col p-0 mr-2 icon">
          <a href="https://www.facebook.com/CompriteKenya"><img src="assets/social/facebook.png" alt="Facebook"></a>
        </div>
        <div class="col p-0 mr-2 icon">
          <a href="https://twitter.com/CompriteKenya"><img src="assets/social/twitter.png" alt="Twitter"></a>
        </div>
        <div class="col p-0 mr-2 icon">
          <a href="https://www.linkedin.com/company/comprite-kenya-limited/"><img src="assets/social/linkedin.png"
              alt="Linkedin"></a>
        </div>
        <div class="col p-0 mr-2 icon">
          <a href="https://www.instagram.com/compriteke/"><img src="assets/social/instagram.png" alt="Instagram"></a>
        </div>
      </div>
    </div>

    <!-- Column 2 Section -->
    <div class="column2 px-3 mt-4 mt-lg-0 col-12 col-md-4 col-lg">
      <h2 class="d-inline-flex align-items-center">
        <mat-icon class="mr-1">place</mat-icon>Physical Address
      </h2>
      <p>Comp-rite Kenya Limited</p>
      <p>4th Floor, Muthaiga Mini Market,</p>
      <p>Limuru road Behind Post Office</p>
      <p>P.O. Box 63428-00619</p>
      <p>Nairobi, Kenya</p>
    </div>

    <!-- Column 3 Section -->
    <div class="column3 px-3 mt-4 mt-lg-0 col-12 col-md-4 col-lg">
      <h2 class="d-inline-flex align-items-center">
        <mat-icon class="mr-1">phone</mat-icon>Contact Us
      </h2>
      <p>Email: info@comp-rite.com</p>
      <p>Telephone: +254-20-269-0955</p>
      <p>Cell: +254 723-611786</p>
    </div>

    <!-- Column 4 Section -->
    <div class="column4 px-3 mt-4 mt-lg-0 col-12 col-md-4 col-lg">
      <h2>Useful links</h2>
      <ul class="p-0 m-0">
        <li><a href="https://www.nse.co.ke/">Nairobi Securities Exchange</a></li>
        <li><a href="https://www.cdsckenya.com/">CDSC</a></li>
        <li><a href="https://www.cma.or.ke/">Capital Markets Authority(CMA)</a></li>
        <li><a href="https://www.ufaa.go.ke">Unclaimed Financial Assets Authority(UFAA)</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom custom-container text-center mx-auto">
    <hr class="my-3" />
    <p class="m-0">&copy; Copyright 2020 Comprite Kenya</p>
  </div>
</footer>