<!-- Payroll Banner Section  -->
<app-banner class="payroll-banner-section">
  <img src="assets/logo/pay100_logo.png" alt="Pay100">
  <p class="m-3 mx-md-auto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores saepe voluptates,
    repellendus, itaque
    eos earum
    veritatis in repudiandae quidem velit eaque provident eveniet, blanditiis similique sint voluptatibus nesciunt fugit
    architecto!</p>
</app-banner>

<!-- Payroll Features Section -->
<app-banner class="payroll-features-section" [background]="'white'">
  <div class="row mx-auto">
    <div class="col-12 col-lg mx-1">
      <img src="assets/payrollAssets/fast.png" alt="Fast">
      <h2 class="m-2">Fast</h2>
      <p class="mx-auto mb-3 mt-0 mb-lg-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem labore
        voluptatum
        totam asperiores officia
        mollitia explicabo unde odit, omnis corporis!</p>
    </div>
    <div class="col-12 col-lg mx-1">
      <img src="assets/payrollAssets/accurate.png" alt="Accurate">
      <h2 class="m-2">Accurate</h2>
      <p class="mx-auto mb-3 mt-0 mb-lg-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem labore
        voluptatum
        totam asperiores officia
        mollitia explicabo unde odit, omnis corporis!</p>
    </div>
    <div class="col-12 col-lg mx-1">
      <img src="assets/payrollAssets/affordable.png" alt="Affordable">
      <h2 class="m-2">Affordable</h2>
      <p class="mx-auto mb-3 mt-0 mb-lg-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem labore
        voluptatum
        totam asperiores officia
        mollitia explicabo unde odit, omnis corporis!</p>
    </div>
    <div class="col-12 col-lg mx-1">
      <img src="assets/payrollAssets/ease_of_use.png" alt="Ease of use">
      <h2 class="m-2">Ease of use</h2>
      <p class="mx-auto mb-3 mt-0 mb-lg-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem labore
        voluptatum
        totam asperiores officia
        mollitia explicabo unde odit, omnis corporis!</p>
    </div>
  </div>
</app-banner>

<!-- Payroll Price Cards Section -->
<app-banner class="payroll-price-section" background="#3e4756">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt officiis accusamus eos! Corrupti ex quisquam
    nesciunt odit, molestias amet ut.</p>
</app-banner>