<!-- Shareholders Banner Section  -->
<app-banner class="shareholders-banner-section">
  <h1 class="m-0">Shareholders</h1>
  <p class="m-3 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores saepe voluptates,
    repellendus, itaque
    eos earum
    veritatis in repudiandae quidem velit eaque provident eveniet, blanditiis similique sint voluptatibus nesciunt fugit
    architecto!</p>
</app-banner>

<!-- Shareholder Testimonial Section -->
<app-banner [hasBackground]="'#3e4756'" class="shareholder-testimonial-section">
  <div class="container-fluid no-gutter py-5">
    <div class="text-center mb-4">
      <h2 class="m-0">Testimonials</h2>
    </div>

    <app-testimonials></app-testimonials>
  </div>
</app-banner>

<!-- Our Clients Section  -->
<div class="our-clients-section container-fluid no-gutter my-5 mx-auto">
  <div class="text-center mt-0 mb-5">
    <h2>Our Clients</h2>
    <p class="mx-auto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, saepe? Adipisci exercitationem
      autem esse minus
      dicta earum corporis assumenda? Eius voluptatum commodi tempora porro modi sit ullam officiis optio odio.</p>
  </div>

  <div class="row mx-md-5 p-2">
    <div class="col-12 col-xl-4 my-2 my-xl-0">
      <app-client-card></app-client-card>
    </div>

    <div class="col-12 col-xl-4 my-2 my-xl-0">
      <app-client-card></app-client-card>
    </div>
    <div class="col-12 col-xl-4 my-2 my-xl-0">
      <app-client-card></app-client-card>
    </div>
  </div>

  <div class="row mx-md-5 p-2">
    <div class="col-12 col-xl-4 my-2 my-xl-0">
      <app-client-card></app-client-card>
    </div>

    <div class="col-12 col-xl-4 my-2 my-xl-0">
      <app-client-card></app-client-card>
    </div>
    <div class="col-12 col-xl-4 my-2 my-xl-0">
      <app-client-card></app-client-card>
    </div>
  </div>
</div>

<!-- Call to action banner section -->
<app-banner class="banner-section">
  <h2 class="m-0">Still have some questions?</h2>
  <p class="m-3">Have an urgent question? Send us a message. Click the button below to go to our contact
    us
    page.
  </p>
  <app-custom-button [large]="true">
    Contact us
  </app-custom-button>
</app-banner>