<!-- News Banner Section  -->
<app-banner class="news-banner-section" [hasBackground]="'white'">
  <h1 class="m-0">News and information</h1>
  <p class="m-3 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores saepe voluptates,
    repellendus, itaque
    eos earum
    veritatis in repudiandae quidem velit eaque provident eveniet, blanditiis similique sint voluptatibus nesciunt fugit
    architecto!</p>
</app-banner>

<!-- News cards section -->
<div class="container-fluid p-lg-5 news-card-section">
  <mat-sidenav-container>

    <!-- Filter sidenav section -->
    <mat-sidenav #sidenav>
      <div class="search-section text-center">
        <h2 class="m-0 my-2">Filter list</h2>
        <hr class="m-0 mb-2" />

        <mat-form-field class="w-100" appearance="outline">
          <mat-select placeholder="Sort">
            <mat-option>None</mat-option>
            <mat-option value="Asc">Asc</mat-option>
            <mat-option value="Desc">Desc</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" placeholder="Search" matInput>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-icon matPrefix>business</mat-icon>
          <mat-select placeholder="Select company name">
            <mat-option>None</mat-option>
            <mat-option value="Company 1">Company 1</mat-option>
            <mat-option value="Company 2">Company 2</mat-option>
            <mat-option value="Company 3">Company 3</mat-option>
            <mat-option value="Company 4">Company 4</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Choose a start date</mat-label>
          <input type="text" matInput [matDatepicker]="startDate">
          <mat-datepicker-toggle [for]="startDate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Choose an end date</mat-label>
          <input type="text" matInput [matDatepicker]="endDate">
          <mat-datepicker-toggle [for]="endDate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>

      <button mat-icon-button (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-sidenav>

    <!-- News cards section -->
    <mat-sidenav-content>
      <div class="news-container">
        <button class="m-3" mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="row mx-lg-5 pt-5 mb-3">
          <app-news-card class="col-12 col-md"></app-news-card>
          <app-news-card class="col-12 col-md"></app-news-card>
        </div>
        <div class="row mx-lg-5 mb-3">
          <app-news-card class="col-12 col-md"></app-news-card>
          <app-news-card class="col-12 col-md"></app-news-card>
        </div>
        <div class="row mx-lg-5 mb-3">
          <app-news-card class="col-12 col-md"></app-news-card>
          <app-news-card class="col-12 col-md"></app-news-card>
        </div>
        <div class="row mx-lg-5 mb-3">
          <app-news-card class="col-12 col-md"></app-news-card>
          <app-news-card class="col-12 col-md"></app-news-card>
        </div>
        <div class="row mx-lg-5 pb-5 mb-3">
          <app-news-card class="col-12 col-md"></app-news-card>
          <app-news-card class="col-12 col-md"></app-news-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>