@import "abstracts/variables";
@import "base/typography";

/*News Banner Section*/
.news-banner-section {
  p {
    max-width: 600px;
  }
}

button {
  &:focus {
    outline: none;
  }
}

/*News card section*/
.news-card-section {
  .news-cards-container {
    min-height: 500px;
  }

  mat-sidenav-container {
    width: 100%;
    min-height: 500px;

    mat-sidenav,
    mat-sidenav-content {
      padding: 10px;
    }

    mat-sidenav-content {
      .news-container {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: $border-color;

        button {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    mat-sidenav {
      width: 300px;

      .search-section {
        h2 {
          color: $dark-blue;
        }

        hr {
          border-color: $border-color;
        }
      }

      button {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .news-cards-container {
    max-width: 600px;
  }
}
