<!-- News Banner Section  -->
<app-banner class="news-banner-section" [hasBackground]="'white'">
  <h1 class="m-0">News and information</h1>
  <p class="m-3 mx-auto">Discover the latest news regarding our company and issuers</p>
</app-banner>

<!-- News cards section -->
<div class="container-fluid p-lg-5 news-card-section">
  <mat-sidenav-container>

    <!-- Filter sidenav section -->
    <mat-sidenav #sidenav>
      <div class="search-section text-center">
        <h2 class="m-0 my-2">Filter list</h2>
        <hr class="m-0 mb-2" />

        <mat-form-field class="w-100" appearance="outline">
          <mat-select placeholder="Sort">
            <mat-option>None</mat-option>
            <mat-option value="Asc">Asc</mat-option>
            <mat-option value="Desc">Desc</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" placeholder="Search" matInput>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-icon matPrefix>business</mat-icon>
          <mat-select placeholder="Select company name">
            <mat-option>None</mat-option>
            <mat-option value="Comp-rite Kenya">Comp-rite Kenya</mat-option>
            <mat-option value="Wpp Scangroup">Wpp Scangroup</mat-option>
            <mat-option value="Total Kenya">Total Kenya</mat-option>
            <mat-option value="Diamond Trust Bank Kenya">Diamond Trust Bank Kenya</mat-option>
            <mat-option value="Diamond Trust Bank Tanzania">Diamond Trust Bank Tanzania</mat-option>
            <mat-option value="Athi River Mining">Athi River Mining</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Choose a start date</mat-label>
          <input type="text" matInput [matDatepicker]="startDate">
          <mat-datepicker-toggle [for]="startDate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Choose an end date</mat-label>
          <input type="text" matInput [matDatepicker]="endDate">
          <mat-datepicker-toggle [for]="endDate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>

      <button mat-icon-button (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-sidenav>

    <!-- News cards section -->
    <mat-sidenav-content>
      <div class="news-container">
        <button class="m-3" mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="news-cards-container row mx-1 mx-md-auto mx-xl-5 pt-5 mb-3">
          <app-news-card class="col-12 col-xl-6 mb-3"></app-news-card>
          <app-news-card class="col-12 col-xl-6 mb-3"></app-news-card>
          <app-news-card class="col-12 col-xl-6 mb-3"></app-news-card>
          <app-news-card class="col-12 col-xl-6 mb-3"></app-news-card>
          <app-news-card class="col-12 col-xl-6 mb-3"></app-news-card>
          <app-news-card class="col-12 col-xl-6 mb-3"></app-news-card>
          <app-news-card class="col-12 col-xl-6 mb-3"></app-news-card>
          <app-news-card class="col-12 col-xl-6 mb-3"></app-news-card>
          <app-news-card class="col-12 col-xl-6 mb-3"></app-news-card>
          <app-news-card class="col-12 col-xl-6 mb-3"></app-news-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>