@import "abstracts/variables";
@import "base/typography";
a {
  text-decoration: none;
  color: $text-secondary;
  font-size: $paragraph-size-sm;

  &:focus {
    outline: none;
    border: none;
  }

  &:hover {
    color: $gold;
  }
}

.mat-card-header-container {
  height: 75px;

  [mat-card-avatar] {
    img {
      width: 100%;
      max-width: 75px;
      max-height: auto;
      object-fit: cover;
    }
  }

  .date-time {
    color: $text-secondary;

    .date {
      font-size: 14px;
    }
    .time {
      font-size: 13px;
    }
  }
}

.news-card-title {
  color: $dark-blue;
  font-weight: 600;
  font-size: 16px;
}

.issuer-title,
.text-content {
  color: $text-secondary;
  font-size: $paragraph-size-sm;
}

hr {
  border-color: $border-color;
}
