@import "abstracts/variables";

.mat-card-header-container {
  height: 75px;

  [mat-card-avatar] {
    img {
      width: 100%;
      max-width: 75px;
      max-height: auto;
      object-fit: cover;
    }
  }

  .date-time {
    color: $text-secondary;

    .date {
      font-size: 17px;
    }
  }
}

.mat-card-content {
  h2 {
    color: $dark-blue;
    font-weight: 600;
  }

  p {
    color: $text-secondary;
  }

  hr {
    border-color: $border-color;
  }
}
