<app-card>
  <!-- Card header section -->
  <ng-container class="mat-card-header">
    <div class="mat-card-header-container row w-100 justify-content-between align-items-start no-gutters">
      <div mat-card-avatar class="col-4 h-100">
        <a [routerLink]="['/issuers', article.issuer._id]"><img [attr.src]="article.issuer.src_small"
            [attr.alt]="article.issuer.name"></a>
      </div>

      <div class="col-8 date-time text-right">
        <p class="date mb-1">{{article.dateCreated | date:'fullDate'}}</p>
        <p class="time">{{article.timeCreated}}</p>
      </div>
    </div>
  </ng-container>

  <!-- Card body section -->
  <ng-container class="mat-card-content">
    <div class="row w-100 no-gutters mt-2">
      <div class="col text-left">
        <h2 class="news-card-title m-0">{{article.title | summary:50}}</h2>
        <p class="issuer-title m-0"><a [routerLink]="['/issuers', article.issuer._id]">{{article.issuer.name}}</a></p>
      </div>
    </div>

    <hr />

    <div class="row w-100 no-gutters">
      <p class="text-content">{{article.newsArticle | summary:150:true}}</p>
    </div>
  </ng-container>

  <!-- Card buttons section -->
  <ng-container class="mat-card-actions">
    <app-custom-button (click)="openDialog()">View article</app-custom-button>
  </ng-container>
</app-card>