@import "abstracts/variables";
@import "base/typography";

// MAT TABS Styles
/**Mat tabs - Mat expansion styles**/
.mat-expansion-panel-content {
  background-color: white;
}

.mat-expansion-indicator::after {
  color: $gold;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

/**Mat tabs - Mat tabs label**/
.mat-tab-label-content {
  font-size: $paragraph-size;
}

.mat-ink-bar {
  background-color: $dark-blue !important;
}

// CAROUSEL STYLES
.carousel-container {
  .carousel {
    // padding: 0 50px;

    &:focus {
      outline: none;
    }
  }

  &:focus {
    outline: none;
  }
}

/**Carousel Indicators styles**/
.carousel-indicators {
  margin: 0;

  li {
    width: 15px;
    height: 15px;
    background-color: $dark-blue;
    border-radius: 50%;
    opacity: 1;
  }

  .active {
    background-color: $gold;
  }
}

/**Carousel - Carousel Buttons styles**/
.carousel-control-next,
.carousel-control-prev {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
  background-color: $dark-blue;
}

// SHAREHOLDER - MAT SELECT STYLES
#select-service {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff !important;
    border-radius: 5px;
  }

  .mat-form-field-underline {
    display: none;
  }
}

// Mat icon buttton fix
[mat-icon-button],
[mat-button] {
  &:focus {
    outline: none;
  }
}

// Mat snackbar
.error-snackbar {
  background-color: white;
  color: red;
  font-weight: normal;

  .mat-button-wrapper {
    color: $text-primary;
  }
}

.success-snackbar {
  background-color: white;
  color: #4cbb17;
  font-weight: normal;
}
