<!-- Payroll Banner Section  -->
<app-banner class="payroll-banner-section">
  <img src="assets/logo/pay100_logo.png" alt="Pay100">
  <p class="m-3 mx-md-auto">Pay100 Plus is a Kenyan payroll processing system for small, medium, and large companies. It
    offers numerous benefits at an affordable cost.</p>
</app-banner>

<!-- Payroll Features Section -->
<app-banner class="payroll-features-section" [hasBackground]="'white'">
  <div class="row mx-auto">
    <div class="col-12 col-lg mx-1">
      <img src="assets/payrollAssets/fast.png" alt="Fast">
      <h2 class="m-2">Fast</h2>
      <p class="mx-auto mb-3 mt-0 mb-lg-0">Your Windows-based computer maintains and computes all the data, the time you
        waste on writing down and calculating your payroll is saved. Even on an old 486, it takes less than a minute to
        process payroll for a company.</p>
    </div>
    <div class="col-12 col-lg mx-1">
      <img src="assets/payrollAssets/accurate.png" alt="Accurate">
      <h2 class="m-2">Accurate</h2>
      <p class="mx-auto mb-3 mt-0 mb-lg-0">Pay100 Plus ensures that your payroll is processed with absolute precision.
        Simple transcription errors or inversion errors can cost you a lot of money and wasted time. Pay100 lets enter
        data once and manage and use it over time without having to reenter it every time. This results in 100% Accurate
        system.</p>
    </div>
    <div class="col-12 col-lg mx-1">
      <img src="assets/payrollAssets/affordable.png" alt="Affordable">
      <h2 class="m-2">Affordable</h2>
      <p class="mx-auto mb-3 mt-0 mb-lg-0">Our Competitive Pricing means that Pay100 is an ideal solution for all
        businesses whether you’re a small, medium, or a large company; At Kshs 27,724 inclusive of VAT, and 1 Year of
        Support it is one of the most affordable payroll packages available in Kenya and offers all of the advantages of
        outsourcing without the cost!</p>
    </div>
    <div class="col-12 col-lg mx-1">
      <img src="assets/payrollAssets/ease_of_use.png" alt="Ease of use">
      <h2 class="m-2">Ease of use</h2>
      <p class="mx-auto mb-3 mt-0 mb-lg-0">Pay100 has been developed to be able to be used with minimum technical
        expertice. A comprehensive documention is provided with purchase of the software that explains how to work with
        the software. In case of errors, you can get in touch with our technical experts to walk you through and fix any
        problems.</p>
    </div>
  </div>
</app-banner>

<!-- Payroll Price Cards Section -->
<app-banner class="payroll-price-section" [hasBackground]="'#3e4756'">
  <div class="container py-3">

    <!-- Demo version card -->
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-5 col-lg-4 my-2">
        <app-price-card>
          <ng-container class="price-header">DEMO VERSION</ng-container>
          <ng-container class="price">FREE</ng-container>
          <ng-container class="price-features">
            <li>Payroll processing</li>
            <li>2 month licence</li>
            <li>Only 30 program launches</li>
          </ng-container>
        </app-price-card>
      </div>

      <!-- Full version card -->
      <div class="col-12 col-md-5 col-lg-4 my-2">
        <app-price-card>
          <ng-container class="price-header">FULL VERSION</ng-container>
          <ng-container class="price">27,724Ksh</ng-container>
          <ng-container class="price-features">
            <li>Payroll processing</li>
            <li>1 year licence</li>
            <li>Unlimited program launches</li>
          </ng-container>
        </app-price-card>
      </div>
    </div>
  </div>
</app-banner>

<!-- Payroll Testimonial Section -->
<div class="payroll-testimonial-section py-5">
  <div class="container-fluid no-gutter">
    <div class="text-center mb-4">
      <h2 class="m-0">Testimonials</h2>
      <p class="m-0">See what some of our users say about our services.</p>
    </div>

    <app-testimonials></app-testimonials>
  </div>
</div>

<!-- Payroll Contacts Section -->
<app-split-banner class="payroll-contacts-section">

  <!-- Column 1 Section -->
  <ng-container class="column1-content">
    <div class="column1 col-12 col-xl h-100 d-flex align-items-center py-3">
      <div class="row">
        <h2 class="col-12 text-center">Faqs</h2>
        <app-accordion class="col-12"></app-accordion>
      </div>
    </div>
  </ng-container>

  <!-- Column 2 Section -->
  <ng-container class="column2-content">
    <div class="enquire-section column2 col-12 col-xl p-3 h-100 d-flex align-items-center py-3">
      <div class="row w-100">
        <h2 class="text-center col-12">Enquire</h2>
        <app-enquiry-form class="col-12"></app-enquiry-form>
      </div>
    </div>
  </ng-container>
</app-split-banner>