<!-- Profile section -->
<div class="container my-5">
  <div class="row">
    <div class="col-12 col-lg-4 text-center text-lg-right issuer-logo">
      <img class="w-100" [attr.src]="issuer?.src_small" [attr.alt]="issuer?.name">
    </div>
    <div class="col-12 col-lg-8 my-5 text-center text-lg-left">
      <h1 class="issuer-name mb-1">{{issuer?.name}}</h1>
      <h2 class="issuer-title m-0 mt-1">{{issuer?.title}}</h2>
      <hr />
      <p class="issuer-description my-3">{{issuer?.description}}</p>
      <div>
        <app-custom-button [routerLink]="['/shareholders']">Enquire about company</app-custom-button>
        <app-custom-button class="ml-2">
          <mat-icon>get_app</mat-icon>Download dividend opt in form
        </app-custom-button>
      </div>
    </div>
  </div>
</div>

<!-- Tabs section -->
<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="News">

      <!-- News section -->
      <div class="row m-0 my-3 news-section">
        <mat-sidenav-container>

          <!-- Filter sidenav section -->
          <mat-sidenav class="py-3" #sidenav>
            <div class="search-section text-center mx-3">
              <h2 class="m-0 my-2">Filter list</h2>
              <hr class="m-0 mb-2" />

              <mat-form-field class="w-100" appearance="outline">
                <mat-select [(ngModel)]="sort" name="sort" placeholder="Sort">
                  <mat-option>None</mat-option>
                  <mat-option value="Asc">Asc</mat-option>
                  <mat-option value="Desc">Desc</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-100" appearance="outline">
                <mat-icon matSuffix>search</mat-icon>
                <input [(ngModel)]="searchTerm" name="search" type="text" placeholder="Search" matInput>
              </mat-form-field>

              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Choose a start date</mat-label>
                <input [(ngModel)]="dateStart" name="dateStart" type="text" matInput [matDatepicker]="startDate">
                <mat-datepicker-toggle [for]="startDate" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field>
            </div>

            <button mat-icon-button (click)="sidenav.close()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-sidenav>

          <!-- News cards section -->
          <mat-sidenav-content>
            <div class="news-container">
              <button class="m-3" mat-icon-button (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
              </button>

              <div *ngIf="articles" class="news-cards-wrapper mx-auto">
                <div *ngFor="let article of (articles | issuerfilter:sort:searchTerm:dateStart)"
                  class="mx-lg-5 pt-5 mb-3">
                  <app-news-card [article]="article"></app-news-card>
                </div>
              </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </mat-tab>

    <!-- Shareholder inforamtion section -->
    <mat-tab label="Shareholder information">
      <div class="my-5 shareholder-information table-responsive-sm">
        <!-- AGM table section -->
        <h2>Annual General Meetings(AGM)</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Title</th>
              <th scope="col">Year</th>
              <th scope="col">Venue</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">10/10/2020</th>
              <td>Scangroup AGM 2020</td>
              <td>2020</td>
              <td>Muthaiga Mini Market</td>
              <td>
                <div class="completed text-center">completed</div>
              </td>
            </tr>
            <tr>
              <th scope="row">TBD</th>
              <td>TBD</td>
              <td>2021</td>
              <td>TBD</td>
              <td>
                <div class="pending text-center">pending</div>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- EGM table section -->
        <h2 class="mt-5">Extraordinary General Meetings(EGM)</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Title</th>
              <th scope="col">Year</th>
              <th scope="col">Venue</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">01/05/2020</th>
              <td>Elect new board members</td>
              <td>2020</td>
              <td>City park</td>
              <td>
                <div class="completed text-center">completed</div>
              </td>
            </tr>
            <tr>
              <th scope="row">23/06/2020</th>
              <td>Discuss agenda</td>
              <td>2020</td>
              <td>Uhuru park</td>
              <td>
                <div class="completed text-center">completed</div>
              </td>
            </tr>
            <tr>
              <th scope="row">28/06/2020</th>
              <td>Some other business</td>
              <td>2020</td>
              <td>City park</td>
              <td>
                <div class="completed text-center">completed</div>
              </td>
            </tr>
            <tr>
              <th scope="row">15/10/2020</th>
              <td>Discuss notices</td>
              <td>2020</td>
              <td>TBD</td>
              <td>
                <div class="pending text-center">pending</div>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Dividends table section -->
        <h2 class="mt-5">Dividends</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Book closure date</th>
              <th scope="col">Disbursment date</th>
              <th scope="col">Year</th>
              <th scope="col">Type</th>
              <th scope="col">Rate</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01/05/2017</td>
              <td>01/05/2017</td>
              <td>2017</td>
              <td>Cash dividend</td>
              <td>1.2</td>
              <td>
                <div class="completed text-center">completed</div>
              </td>
            </tr>
            <tr>
              <td>23/06/2018</td>
              <td>23/06/2018</td>
              <td>2018</td>
              <td>Stock dividend</td>
              <td>N/A</td>
              <td>
                <div class="completed text-center">completed</div>
              </td>
            </tr>
            <tr>
              <td>28/06/2019</td>
              <td>28/06/2019</td>
              <td>2019</td>
              <td>Cash dividend</td>
              <td>1.5</td>
              <td>
                <div class="completed text-center">completed</div>
              </td>
            </tr>
            <tr>
              <td>15/10/2020</td>
              <td>25/10/2020</td>
              <td>2020</td>
              <td>Cash dividend</td>
              <td>1.25</td>
              <td>
                <div class="pending text-center">pending</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>