<!-- Profile section -->
<div class="container my-5 title-section">
  <div class="row">
    <div class="col-12 col-lg-4 text-center text-lg-right issuer-logo">
      <img class="w-100" [attr.src]="issuer?.src_small" [attr.alt]="issuer?.name">
    </div>
    <div class="col-12 col-lg-6 my-5 text-center text-lg-left">
      <h1 class="issuer-name mb-1">{{issuer?.name}}</h1>
      <h2 class="issuer-title m-0 mt-1">{{issuer?.title}}</h2>
      <hr />
      <p class="issuer-description my-3">{{issuer?.description}}</p>
      <div class="row">
        <app-custom-button class="col-12 my-2 my-xl-0 col-xl-auto" [routerLink]="['/shareholders']">Enquire about
          company
        </app-custom-button>
        <ng-container *ngIf="opt_in">
          <app-opt-in-button (click)="onOptInClick(issuer.name.toLowerCase())" class="col-12 my-2 my-xl-0 col-xl-auto">
            <mat-icon>get_app</mat-icon>Download Mpesa dividend opt in form
          </app-opt-in-button>
        </ng-container>
      </div>
    </div>

    <div class="col-12 col-lg-2 my-5 text-center text-lg-left our-issuers d-none d-lg-block">
      <h2>OUR ISSUERS</h2>
      <li *ngFor="let issuer of issuers">
        <a [routerLink]="['/issuers', issuer._id]" routerLinkActive="active-link">{{issuer.name}}</a>
      </li>
    </div>
  </div>
</div>

<!-- Tabs section -->
<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="News">

      <!-- News section -->
      <div class="row m-0 mb-3 news-section">
        <mat-sidenav-container>

          <!-- Filter sidenav section -->
          <mat-sidenav class="py-3" #sidenav>
            <div class="search-section text-center mx-3">
              <h2 class="m-0 my-2">Filter list</h2>
              <hr class="m-0 mb-2" />

              <mat-form-field class="w-100" appearance="outline">
                <mat-select [(ngModel)]="sort" name="sort" placeholder="Sort">
                  <mat-option>None</mat-option>
                  <mat-option value="Asc">Asc</mat-option>
                  <mat-option value="Desc">Desc</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-100" appearance="outline">
                <mat-icon matSuffix>search</mat-icon>
                <input [(ngModel)]="searchTerm" name="search" type="text" placeholder="Search" matInput>
              </mat-form-field>

              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Choose a start date</mat-label>
                <input [(ngModel)]="dateStart" name="dateStart" type="text" matInput [matDatepicker]="startDate">
                <mat-datepicker-toggle [for]="startDate" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field>
            </div>

            <button mat-icon-button (click)="sidenav.close()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-sidenav>

          <!-- News cards section -->
          <mat-sidenav-content>
            <div class="news-container">
              <button class="m-3" mat-icon-button (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
              </button>

              <div *ngIf="articles && articles.length > 0" class="news-cards-wrapper mx-auto h-100">
                <div *ngFor="let article of (articles | issuerfilter:sort:searchTerm:dateStart)"
                  class="mx-lg-5 pt-5 mb-3 mx-3 mx-xl-0">
                  <app-news-card [article]="article"></app-news-card>
                </div>
              </div>

              <div *ngIf="!articles || articles.length === 0" class="news-cards-wrapper mx-auto h-100 text-center">
                <h2 class="my-3">NO NEWS ARTICLES</h2>
              </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </mat-tab>

    <!-- Shareholder inforamtion section -->
    <mat-tab label="Shareholder information">
      <div class="my-5 mx-2 shareholder-information table-responsive-sm">
        <!-- AGM table section -->
        <app-agm *ngIf="issuer" [issuerId]="issuer._id"></app-agm>

        <!-- EGM table section -->
        <app-egm *ngIf="issuer" [issuerId]="issuer._id"></app-egm>

        <!-- Dividends table section -->
        <app-dividends *ngIf="issuer" [issuerId]="issuer._id"></app-dividends>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>