<!-- Contact US Banner Section  -->
<app-banner class="contacts-banner-section">
  <h1 class="m-0">Conatct us</h1>
  <p class="m-3 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores saepe voluptates,
    repellendus, itaque
    eos earum
    veritatis in repudiandae quidem velit eaque provident eveniet, blanditiis similique sint voluptatibus nesciunt fugit
    architecto!</p>
</app-banner>

<!-- Enquire form section -->
<div class="container enquire-form-section">
  <div class="enquire-section p-3 h-100 d-flex align-items-center py-5">
    <div class="row w-100">
      <h2 class="text-center col-12">Enquire</h2>
      <app-enquiry-form class="col-12"></app-enquiry-form>
    </div>
  </div>
</div>

<!-- Contacts Split Banner Section -->
<app-split-banner class="contacts-split-banner-section">

  <!-- Column 1 - Map Section -->
  <ng-container class="column1-content">
    <div class="column1 col-12 col-lg h-100 d-flex align-items-center">
      <div class="text-center w-100 text-muted mat-display-1 mat-body-2">Map goes here</div>
    </div>
  </ng-container>

  <!-- Column 2 - Contacts Section -->
  <ng-container class="column2-content">
    <div class="column2 col-12 col-lg h-100 d-flex align-items-center">

      <!-- Column Wrapper -->
      <div class="text-center mx-auto p-4 p-md-0 w-xl-75">
        <h2 class="mat-display-2 m-0">Find us</h2>

        <hr />

        <div class="contacts row m-0">
          <!-- Physical Address Section -->
          <div class="px-3 mt-4 mt-lg-0 col-12 col-md text-left">
            <h2 class="d-inline-flex align-items-center">
              <mat-icon class="mr-1">place</mat-icon>Physical Address
            </h2>
            <p>Comp-rite Kenya Limited</p>
            <p>4th Floor, Muthaiga Mini Market,</p>
            <p>Limuru road Behind Post Office</p>
            <p>P.O. Box 63428-00619</p>
            <p>Nairobi, Kenya</p>
          </div>

          <!-- Contacts Section -->
          <div class="px-3 mt-4 mt-lg-0 col-12 col-md text-left">
            <h2 class="d-inline-flex align-items-center">
              <mat-icon class="mr-1">phone</mat-icon>Contact Us
            </h2>
            <p>Email: info@comp-rite.com</p>
            <p>Telephone: +254-20-269-0955</p>
            <p>Cell: +254 723-611786</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-split-banner>