@import "abstracts/variables";
@import "base/typography";

.column1 {
  min-height: 500px;
}

.column2 {
  min-height: 500px;
}

/*Contact Us Banner Section*/
.contacts-banner-section {
  h1,
  p {
    color: white;
  }

  p {
    max-width: 600px;
  }
}

/*Enquire forms section*/
.enquire-form-section {
  h2 {
    color: white;
    font-size: $heading-size;
    font-weight: 600;
  }

  .enquire-section {
    h2 {
      color: $dark-blue !important;
    }
  }
}

/*Contacts Split Banner Section*/
.contacts-split-banner-section {
  h2 {
    color: $dark-blue;
  }

  .column2 {
    background-color: $comprite-blue;

    p {
      max-width: 600px;
      color: white;
    }

    hr {
      border-color: $border-color;
    }

    .contacts {
      h2 {
        color: white;
      }
    }
  }
}
