<!-- About Banner Section  -->
<app-banner class="about-banner-section">
  <h1 class="m-0">About us</h1>
  <p class="m-3 mx-auto">Comp-rite Kenya Ltd is a locally owned and operated company that has been in existence since
    1972. Our core strengths have always been technology-focused, and over the years, Comp-rite remains at the forefront
    of providing customized software and technology-based solutions to a diverse range of corporations in Kenya.</p>
</app-banner>

<!-- About History-Timeline Split Banner Section -->
<app-split-banner class="about-history-split-banner-section">

  <!-- Column 1 - History Text Section -->
  <ng-container class="column1-content">
    <div class="column1 col-12 col-lg p-5 p-lg-0 h-100 d-flex align-items-center">

      <!-- Column Wrapper -->
      <div class="text-center mx-auto">
        <h2 class="mat-display-2 m-0">History</h2>

        <p class="my-4">Want to learn more about us? Take a look at our timeline. It begins from when we started doing
          business in 1972 and lists the achievemnts we are most proud of.</p>
      </div>
    </div>
  </ng-container>

  <!-- Column 2 - Timeline Section -->
  <ng-container class="column2-content">
    <div class="column2 col-12 col-lg p-3 p-md-0 d-flex align-items-center">
      <app-timeline class="w-100"></app-timeline>
    </div>
  </ng-container>
</app-split-banner>

<!-- About Payroll Share Registration Split Banner Section -->
<app-split-banner class="about-payroll-split-banner-section">

  <!-- Column 1 - Payroll Section -->
  <ng-container class="column1-content">
    <div class="column1 order-2 order-lg-1 col-12 col-lg p-5 h-100 d-flex align-items-center">

      <!-- Column Wrapper -->
      <div class="text-center mx-auto">
        <h2 class="mat-display-2 m-0">Payroll</h2>

        <p class="my-4">Pay100 Plus is a Kenyan payroll processing system for small, medium, and large companies. It
          offers numerous benefits at an affordable cost.</p>

        <app-custom-button routerLink="/payroll" [large]="true">
          Go to payroll
        </app-custom-button>
      </div>
    </div>
  </ng-container>

  <!-- Column 2 - Share Registration Section -->
  <ng-container class="column2-content">
    <div class="column2 order-1 order-lg-2 col-12 col-lg p-5 h-100 d-flex align-items-center">

      <!-- Column Wrapper -->
      <div class="text-center mx-auto">
        <h2 class="mat-display-2 m-0">Share registration</h2>

        <p class="my-4">Share registration has been easy with the iSharePro which for the last 30 years it has been in
          operation.</p>

        <div class="row justify-content-around">
          <div class="col-12 col-md my-2 my-lg-0">
            <app-custom-button routerLink="/issuers" [large]="true">
              For issuers
            </app-custom-button>
          </div>

          <div class="col-12 col-md my-2 my-lg-0">
            <app-custom-button routerLink="/shareholders" [large]="true">
              For shareholders
            </app-custom-button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-split-banner>

<!-- About Contacts Split Banner Section -->
<app-split-banner class="about-contacts-split-banner-section">

  <!-- Column 1 - Map Section -->
  <ng-container class="column1-content">
    <div class="column1 col-12 col-lg h-100 d-flex align-items-center">
      <div class="text-center w-100 text-muted mat-display-1 mat-body-2">Map goes here</div>
    </div>
  </ng-container>

  <!-- Column 2 - Contacts Section -->
  <ng-container class="column2-content">
    <div class="column2 col-12 col-lg h-100 d-flex align-items-center">

      <!-- Column Wrapper -->
      <div class="text-center mx-auto p-4 p-md-0 w-xl-75">
        <h2 class="mat-display-2 m-0">Find us</h2>

        <hr />

        <div class="contacts row m-0">
          <!-- Physical Address Section -->
          <div class="px-3 mt-4 mt-lg-0 col-12 col-md text-left">
            <h2 class="d-inline-flex align-items-center">
              <mat-icon class="mr-1">place</mat-icon>Physical Address
            </h2>
            <p>Comp-rite Kenya Limited</p>
            <p>4th Floor, Muthaiga Mini Market,</p>
            <p>Limuru road Behind Post Office</p>
            <p>P.O. Box 63428-00619</p>
            <p>Nairobi, Kenya</p>
          </div>

          <!-- Contacts Section -->
          <div class="px-3 mt-4 mt-lg-0 col-12 col-md text-left">
            <h2 class="d-inline-flex align-items-center">
              <mat-icon class="mr-1">phone</mat-icon>Contact Us
            </h2>
            <p>Email: info@comp-rite.com</p>
            <p>Telephone: +254-20-269-0955</p>
            <p>Cell: +254 723-611786</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-split-banner>