<div class="split-banner-container container-fluid no-gutters">
  <div class="row h-100">

    <!-- Column 1 Section -->
    <div class="column1 col-12 col-md p-5 h-100 d-flex align-items-center">

      <!-- Column Wrapper -->
      <div class="text-center mx-auto">
        <h2 class="mat-display-2 m-0">Payroll</h2>

        <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veritatis ab sequi
          recusandae
          eveniet
          placeat itaque minima est deleniti distinctio sint doloribus, hic et id porro quis asperiores facere!
          Reiciendis.</p>

        <app-custom-button [large]="true">
          Go to payroll
        </app-custom-button>
      </div>
    </div>

    <!-- Column2 Section -->
    <div class="column2 col-12 col-md p-5 h-100 d-flex align-items-center">

      <!-- Column Wrapper -->
      <div class="text-center mx-auto">
        <h2 class="mat-display-2 m-0">Share registration</h2>

        <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veritatis ab sequi
          recusandae
          eveniet
          placeat itaque minima est deleniti distinctio sint doloribus, hic et id porro quis asperiores facere!
          Reiciendis.</p>

        <div class="row justify-content-around">
          <div class="col-12 col-lg my-2 my-lg-0">
            <app-custom-button [large]="true">
              For issuers
            </app-custom-button>
          </div>

          <div class="col-12 col-lg my-2 my-lg-0">
            <app-custom-button [large]="true">
              For shareholders
            </app-custom-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>