@import "abstracts/variables";
@import "base/typography";

.split-banner-container {
  h2 {
    color: $comprite-blue;
    font-weight: 600;
  }

  p {
    color: $text-secondary;
    max-width: 400px;
    font-size: $paragraph-size;
  }

  .column1 {
    min-height: 500px;
  }

  .column2 {
    min-height: 500px;
    background-color: $dark-blue;
  }
}
