<div class="modal-container">
  <div class="modal-header">
    <div class="w-100 row text-center m-0">
      <h2 class="modal-title col-12 p-0">Information form</h2>
      <p class="col-12 p-0">Please fill in the form and submit before your download begins</p>
    </div>
  </div>
  <div class="modal-body">
    <app-payroll-submission-form [activeModal]="activeModal"></app-payroll-submission-form>
  </div>
  <div class="modal-footer">
  </div>

  <button ngbAutofocus class="close-button m-3" mat-icon-button (click)="activeModal.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>