@import "abstracts/variables";
@import "base/typography";

.banner {
  background-color: $comprite-blue;
  height: 400px;

  h2 {
    color: white;
    font-size: $banner-size;
    font-weight: 600;
  }

  p {
    color: white;
    font-size: $paragraph-size;
  }
}
