@import "abstracts/variables";
@import "base/typography";

.quotes {
  img {
    max-width: 50px;
    width: 100%;
    object-fit: cover;
  }
}

.testimonial-quote {
  color: white;
  max-width: 350px;
}

.testimonial-details {
  max-width: 350px;

  img {
    border-radius: 50%;
    max-height: 75px;
    object-fit: cover;
  }

  .testimonial-name {
    color: $dark-blue;
    font-size: $paragraph-size;
    font-weight: 600;
  }

  .testimonial-title {
    font-size: $paragraph-size-sm;
    color: white;
  }
}
