<app-card [hasButtons]="false" [hasBackground]="'#0f75bd'">
  <!-- Card header section -->
  <ng-container class="mat-card-header">
    <div class="quotes row no-gutters w-100 justify-content-center mt-3">
      <div class="col-2 text-center">
        <img src="assets/quotes.png" alt="Quotes">
      </div>
    </div>
  </ng-container>

  <!-- Card body section -->
  <ng-container class="mat-card-content">
    <div class="text-center mb-2">
      <p class="testimonial-quote my-4 mx-auto">
        <ng-content select=".quote"></ng-content>
      </p>
      <div class="row testimonial-details mx-auto">
        <div class="p-0 col-12 col-md-3 col-lg-12 col-xl-3">
          <img src="assets/issuerLogos/wppScangroup/logo_small.png" alt="Logo">
        </div>
        <div
          class="col-12 col-md-9 col-lg-12 col-xl-9 text-center text-md-left text-lg-center text-xl-left align-self-center">
          <h2 class="testimonial-name m-0">Wpp ScanGroup</h2>
          <p class="testimonial-title m-0">Marketing and communications</p>
        </div>

      </div>
    </div>
  </ng-container>
</app-card>