@import "abstracts/variables";
@import "base/typography";

/*Share Registration Banner Section*/
.share-registration-banner-section {
  h1,
  p {
    color: white;
  }

  p {
    max-width: 600px;
  }
}

/*Issuers Testimonial Section*/
.issuers-testimonial-section,
.shareholder-testimonial-section {
  background-color: $border-color;

  h2 {
    color: white;
    font-size: $heading-size;
    font-weight: 600;
  }
}

/*Share registration Contacts Section*/
.share-registration-contacts-section {
  .column1,
  .column2 {
    min-height: 800px !important;
  }

  .column1 {
    background-color: $comprite-blue;
  }

  h2 {
    color: white;
    font-size: $heading-size;
    font-weight: 600;
  }

  .enquire-section {
    h2 {
      color: $dark-blue !important;
    }
  }
}
