<!-- Share Registration Banner Section  -->
<app-banner class="share-registration-banner-section">
  <h1 class="m-0">Share registry</h1>
  <p class="m-3 mx-auto">Comp-rite Bureau Share registration have been in operation for the last 30 years. Our
    services have ensured that companies such as Total Kenya, Housing Finance and Scan
    Group limited have an up to date and accurate share register.</p>
</app-banner>

<!-- Share Registration Carousel Section -->
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Issuers">
    <app-carousel [slides]="issuerSlides"></app-carousel>

    <!-- Issuers Testimonial Section -->
    <app-banner [hasBackground]="'#3e4756'" class="issuers-testimonial-section">
      <div class="container-fluid no-gutter py-5">
        <div class="text-center mb-4">
          <h2 class="m-0">Testimonials</h2>
        </div>

        <div class="row mx-md-5">
          <div class="col-12 col-lg-4 my-2 my-lg-0">
            <app-company-testimonial-card>
            </app-company-testimonial-card>
          </div>
          <div class="col-12 col-lg-4 my-2 my-lg-0">
            <app-company-testimonial-card>
            </app-company-testimonial-card>
          </div>
          <div class="col-12 col-lg-4 my-2 my-lg-0">
            <app-company-testimonial-card>
            </app-company-testimonial-card>
          </div>
        </div>
      </div>
    </app-banner>
  </mat-tab>
  <mat-tab label="Shareholders">
    <app-carousel [slides]="shareholderSlides"></app-carousel>

    <!-- Shareholder Testimonial Section -->
    <app-banner [hasBackground]="'#3e4756'" class="shareholder-testimonial-section">
      <div class="container-fluid no-gutter py-5">
        <div class="text-center mb-4">
          <h2 class="m-0">Testimonials</h2>
        </div>

        <app-testimonials></app-testimonials>
      </div>
    </app-banner>
  </mat-tab>
</mat-tab-group>

<!-- Share registration Contacts Section -->
<app-split-banner class="share-registration-contacts-section">

  <!-- Column 1 Section -->
  <ng-container class="column1-content">
    <div class="column1 col-12 col-xl h-100 d-flex align-items-center py-5">
      <div class="row">
        <h2 class="col-12 text-center">Faqs</h2>
        <app-accordion class="col-12"></app-accordion>
      </div>
    </div>
  </ng-container>

  <!-- Column 2 Section -->
  <ng-container class="column2-content">
    <div class="enquire-section column2 col-12 col-xl p-3 h-100 d-flex align-items-center py-5 py-lg-0">
      <div class="row w-100">
        <h2 class="text-center col-12">Enquire</h2>
        <app-enquiry-form class="col-12"></app-enquiry-form>
      </div>
    </div>
  </ng-container>
</app-split-banner>