@import "abstracts/variables";
@import "base/typography";

.company-logo {
  img {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
  }
}

.client-card-footer {
  width: 100%;
  max-width: 600px;

  .testimonial-name {
    color: $dark-blue;
    font-size: $paragraph-size;
    font-weight: 600;
  }

  .testimonial-title {
    font-size: $paragraph-size-sm;
    color: $text-secondary;
  }
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 1200px) and (max-width: 1366px) {
  .testimonial-name {
    font-size: 12px !important;
  }

  .testimonial-title {
    font-size: 10px !important;
  }
}
