@import "abstracts/variables";
@import "base/typography";

.company-logo {
  img {
    width: 100%;
    max-width: 350px;
  }
}

.client-card-footer {
  width: 100%;
  max-width: 600px;

  .testimonial-name {
    color: $dark-blue;
    font-size: $paragraph-size;
    font-weight: 600;
  }

  .testimonial-title {
    font-size: $paragraph-size-sm;
    color: $text-secondary;
  }
}
