<app-card>
  <!-- Card body section -->
  <ng-container class="mat-card-content">
    <!-- Some content -->
    <div class="row text-center company-logo mx-2 mx-md-0 my-3">
      <img class="mx-auto" [attr.src]="client.src" [attr.alt]="client.name">
    </div>
  </ng-container>

  <!-- Card buttons section -->
  <ng-container class="mat-card-actions">
    <div class="row mx-auto client-card-footer text-center text-lg-left align-items-center">
      <div class="col-12 col-lg-8">
        <h2 class="testimonial-name m-0">{{client.name}}</h2>
        <p class="testimonial-title m-0">{{client.title}}</p>
      </div>
      <div class="col-12 col-lg-4 my-2 my-xl-0">
        <app-custom-button [routerLink]="['/issuers', client.url_link]">View profile</app-custom-button>
      </div>
    </div>
  </ng-container>
</app-card>