@import "abstracts/variables";
@import "base/typography";

.container-fluid {
  height: 500px;
  overflow-y: hidden;

  /*Show scrollbar on hover*/
  &:hover {
    overflow-y: scroll;

    .timeline {
      ul {
        li {
          &:nth-child(odd) {
            &::after {
              right: -32px;
            }
          }

          &:nth-child(even) {
            &::after {
              left: -28px;
            }
          }
        }
      }
    }
  }

  /*Style timeline scrollbar*/
  /* width */
  &::-webkit-scrollbar {
    position: absolute;
    right: 0;
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    height: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .timeline {
    width: 100%;

    ul {
      li {
        background-color: $dark-blue;
        color: white;
        border-radius: 10px;

        &:first-child {
          h1 {
            font-size: $heading-size !important;
          }
        }

        .timeline-content {
          h1 {
            font-size: $testimonial-heading-size;
            font-weight: 500;
            line-height: 30px;
          }

          p {
            font-size: $paragraph-size-sm;
          }

          .date {
            color: $text-secondary;
            font-size: 15px;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .timeline {
    width: 80% !important;

    ul {
      li {
        width: 50%;
        position: relative;

        &:nth-child(odd) {
          float: left;
          clear: right;
          transform: translateX(-30px);
          border-radius: 20px 0px 20px 20px !important;

          /*Position circular element - odd*/
          &::after {
            transform: translate(50%, -50%);
            right: -30px;
          }
        }

        &:nth-child(even) {
          float: right;
          clear: left;
          transform: translateX(30px);
          border-radius: 0px 20px 20px 20px !important;

          /*Position circular element - odd*/
          &::after {
            transform: translate(-50%, -50%);
            left: -30px;
          }
        }

        /*Circular element*/
        &::after {
          content: "";
          position: absolute;
          height: 20px;
          width: 20px;
          background-color: gray;
          border-radius: 50%;
          top: 0;
        }

        /*Hover effect for eah timeline*/
        &:hover {
          &:after {
            background-color: $gold;
          }
        }

        .timeline-content {
          .date {
            position: absolute;
            top: -35px;
          }
        }
      }
    }

    /*Timeline line element*/
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 2px;
      left: 50%;
      transform: translateX(-50%);
      background-color: gray;
    }
  }
}
