<div class="container-fluid no-gutters align-items-center justify-content-center w-100 p-0 mb-3">
  <div class="timeline h-100 px-2 p-0 px-md-0 my-0 mx-auto">
    <ul class="h-100 p-0 py-md-3 m-0">
      <li *ngFor="let timeline of timelines" class="p-3 mb-2 my-md-4">
        <div class="timeline-content">
          <h2 class="date mb-1">{{timeline.timelineDate | date:'y'}}</h2>
          <h1 class="mb-2">{{timeline.title}}</h1>
          <p>{{timeline.description}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>