<div class="container-fluid no-gutters align-items-center justify-content-center w-100 p-0">
  <div class="timeline px-2 p-0 p-md-0 my-0 mx-auto">
    <ul class="p-0 py-md-3 m-0">
      <li class="p-3 mb-2 my-md-4">
        <div class="timeline-content">
          <h2 class="date mb-1">1972</h2>
          <h1 class="mb-2">Inception</h1>
          <p>Comp-rite Kenya Limited began in 1972 by providing software solutions to growing market</p>
        </div>
      </li>

      <li class="p-3 mb-2 my-md-4">
        <div class="timeline-content">
          <h2 class="date mb-1">1972</h2>
          <h1 class="mb-2">Data Processing Bureau</h1>
          <p>Developed Data Processing Bureau: Share Registration & Payroll</p>
        </div>
      </li>

      <li class="p-3 mb-2 my-md-4">
        <div class="timeline-content">
          <h2 class="date mb-1">1978</h2>
          <h1 class="mb-2">Began sales of mini-computer</h1>
          <p>Kenya’s first locally developed mini computer. We commenced sales of mini-computers</p>
        </div>
      </li>

      <li class="p-3 mb-2 my-md-4">
        <div class="timeline-content">
          <h2 class="date mb-1">1981</h2>
          <h1 class="mb-2">Introduced Apple computers to Africa</h1>
          <p>We introduced Apple computers to Africa as well as started new services for micro, mini and mainframe
            computers</p>
        </div>
      </li>

      <li class="p-3 mb-2 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">1984</h2>
          <h1 class="mb-2">Launching Apple Macintosh Computers</h1>
          <p>Launched Apple Macintosh Personal Computers</p>
        </div>
      </li>

      <li class="p-3 mb-0 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">1986</h2>
          <h1 class="mb-2">Successfully processed IPO</h1>
          <p>Successfully processed the IPO for the FIRST listed company in Kenya.</p>
        </div>
      </li>

      <li class="p-3 mb-0 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">1994</h2>
          <h1 class="mb-2">Appointed Africa-wide reseller</h1>
          <p>Appointed Africa-wide reseller status for Global One Telecommunications (US / Sprint)</p>
        </div>
      </li>

      <li class="p-3 mb-0 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">1997</h2>
          <h1 class="mb-2">Development of our payroll system began</h1>
          <p>Pay100 was ideated, planned and development commenced</p>
        </div>
      </li>

      <li class="p-3 mb-0 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">1999</h2>
          <h1 class="mb-2">Launching Pay100</h1>
          <p>Pay100 launched to the Kenyan Market</p>
        </div>
      </li>

      <li class="p-3 mb-0 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">2006</h2>
          <h1 class="mb-2">Processing Scangroup IPO</h1>
          <p>CRK Successfully processes the Scangroup IPO, handling over 113,000 applications</p>
        </div>
      </li>

      <li class="p-3 mb-0 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">2011</h2>
          <h1 class="mb-2">Processed a Bonus Share Issue and Right’s Issue for KPLC</h1>
          <p>Processed a Bonus Share Issue and Right’s Issue for KPLC, which raised (3.9Bn)</p>
        </div>
      </li>

      <li class="p-3 mb-0 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">2012</h2>
          <h1 class="mb-2">Processed the DTB Rights Issue</h1>
          <p>Processed the DTB Rights Issue (1.8Bn Raised)</p>
        </div>
      </li>

      <li class="p-3 mb-0 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">2013</h2>
          <h1 class="mb-2">Processed the DTB Rights Issue</h1>
          <p>Processed another DTB Rights Issue (3.6Bn Raised)</p>
        </div>
      </li>

      <li class="p-3 mb-0 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">2015</h2>
          <h1 class="mb-2">Processed Housing Finance Rights Issue</h1>
          <p>Processed Housing Finance Rights Issue (3.5Bn Raised)</p>
        </div>
      </li>
    </ul>
  </div>
</div>