<div class="container-fluid no-gutters align-items-center justify-content-center w-100 p-0">
  <div class="timeline px-2 p-0 p-md-0 my-0 mx-auto">
    <ul class="p-0 py-md-3 m-0">
      <li class="p-3 mb-2 my-md-4">
        <div class="timeline-content">
          <h2 class="date mb-1">20th May, 2020</h2>
          <h1 class="mb-2">Heading 1</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In atque tenetur deserunt modi? Voluptatibus
            consequatur nisi perspiciatis excepturi fugit incidunt.</p>
        </div>
      </li>

      <li class="p-3 mb-2 my-md-4">
        <div class="timeline-content">
          <h2 class="date mb-1">20th May, 2020</h2>
          <h1 class="mb-2">Heading 2</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In atque tenetur deserunt modi? Voluptatibus
            consequatur nisi perspiciatis excepturi fugit incidunt.</p>
        </div>
      </li>

      <li class="p-3 mb-2 my-md-4">
        <div class="timeline-content">
          <h2 class="date mb-1">20th May, 2020</h2>
          <h1 class="mb-2">Heading 3</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In atque tenetur deserunt modi? Voluptatibus
            consequatur nisi perspiciatis excepturi fugit incidunt.</p>
        </div>
      </li>

      <li class="p-3 mb-2 my-md-4">
        <div class="timeline-content">
          <h2 class="date mb-1">20th May, 2020</h2>
          <h1 class="mb-2">Heading 4</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In atque tenetur deserunt modi? Voluptatibus
            consequatur nisi perspiciatis excepturi fugit incidunt.</p>
        </div>
      </li>

      <li class="p-3 mb-2 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">20th May, 2020</h2>
          <h1 class="mb-2">Heading 5</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In atque tenetur deserunt modi? Voluptatibus
            consequatur nisi perspiciatis excepturi fugit incidunt.</p>
        </div>
      </li>

      <li class="p-3 mb-0 my-md-4">
        <div class="timeline-content">
          <h2 class="date small mb-1">20th May, 2020</h2>
          <h1 class="mb-2">Heading 6</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In atque tenetur deserunt modi? Voluptatibus
            consequatur nisi perspiciatis excepturi fugit incidunt.</p>
        </div>
      </li>
    </ul>
  </div>
</div>