<div id="select-service" class="row my-3 mx-0">
  <div class="col-8 col-lg-6 mx-auto">
    <mat-form-field appearance="fill" class="w-100 mb-2">

      <!-- Service input -->
      <mat-label>Please select a service</mat-label>
      <mat-select [(ngModel)]="service" (selectionChange)="onChange()">
        <mat-option>None</mat-option>
        <mat-option value="Account status">Account status</mat-option>
        <mat-option value="Dividend payment">Dividend payment</mat-option>
        <mat-option value="Unclaimed Financial Assets Authority (UFAA) services">Unclaimed Financial Assets Authority
          (UFAA) services</mat-option>
        <mat-option value="Next of kin services">Next of kin services</mat-option>
        <mat-option value="Replace certificates">Replace certificates</mat-option>
        <mat-option value="Amendment of user details">Amendment of user details</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>