<h2 class="mt-5">Extraordinary General Meetings(EGM)</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Year</th>
      <th scope="col">Venue</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="egmData && egmData.length <= 0">
      <tr>
        <td colspan="5" class="text-center">NO EGM AVAILABLE</td>
      </tr>
    </ng-container>

    <ng-container *ngIf="egmData && egmData.length > 0">
      <tr *ngFor="let data of egmData">
        <th scope="row">{{ (data.egmDate|date:'MM/dd/yyyy') || 'TBD'}}</th>
        <td>{{ data.title }}</td>
        <td>{{ (data.egmDate | date:'yyyy') || (today | date:'yyyy') }}</td>
        <td>{{ data.venue || 'TBD'}}</td>
        <td>
          <div class="text-center" [ngClass]="{
              'pending': data.status === 'pending',
              'completed': data.status === 'completed'
            }">{{data.status}}</div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>