<div class="row mx-md-5">
  <div class="col-12 col-lg-4 my-2 my-lg-0">
    <app-testimonial-card>
      <ng-container class="quote">You guys are the best! Keep up the great work!</ng-container>
      <ng-container class="name">Jane Onyango</ng-container>
      <ng-container class="title">Human resource manager</ng-container>
    </app-testimonial-card>
  </div>
  <div class="col-12 col-lg-4 my-2 my-lg-0">
    <app-testimonial-card>
      <ng-container class="quote">I just wanted to let you know that it’s been great working with you.
      </ng-container>
      <ng-container class="name">Mwangi James</ng-container>
      <ng-container class="title">Software developer</ng-container>
    </app-testimonial-card>
  </div>
  <div class="col-12 col-lg-4 my-2 my-lg-0">
    <app-testimonial-card>
      <ng-container class="quote">Thank you so much for a job well done. We appreciate you.</ng-container>
      <ng-container class="name">Arnold Kamau</ng-container>
      <ng-container class="title">Entrepreneur</ng-container>
    </app-testimonial-card>
  </div>
</div>