//Includes
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/theming";
@import "colors";

// Define a custom typography config that overrides the font-family as well as the
$custom-typography: mat-typography-config(
  $font-family: "Open Sans, sans-serif",
);

@include mat-core($custom-typography);

html,
body {
  height: 100%;
  margin: 0;
  color: $text-primary !important;
}
