@import "abstracts/variables";
@import "base/typography";

.quotes {
  img {
    max-width: 50px;
    width: 100%;
    object-fit: cover;
  }
}

.testimonial-quote {
  font-size: $testimonial-heading-size;
  font-weight: normal;
  color: white;
  max-width: 350px;
}

.testimonial-name {
  color: $dark-blue;
  font-size: $paragraph-size;
  font-weight: 600;
}

.testimonial-title {
  font-size: $paragraph-size-sm;
  font-weight: lighter;
  color: white;
}
