@import "abstracts/variables";
@import "base/typography";

.quotes {
  img {
    max-width: 50px;
    width: 100%;
    object-fit: cover;
  }
}

.testimonial-quote {
  color: white;
  max-width: 600px;
}

.testimonial-name {
  color: $dark-blue;
  font-size: $heading-size;
  font-weight: 600;
}

.testimonial-title {
  color: $text-secondary;
  font-size: $paragraph-size;
}
