<!-- Parallax Section -->
<div class="parallax-section">
  <div class="row h-100 p-3">
    <div class="col-12 col-md-11 col-lg-10 col-xl-7 mx-auto d-flex align-items-center">
      <div class="p-3 text-center">
        <h1 class="mat-display-1 my-4">WELCOME TO COMPRITE KENYA LIMITED</h1>
        <p class="m-0">Comp-rite Kenya Ltd is a locally owned and operated company that has been in existence since
          1972.
          Our core
          strengths have always been technology focused, and over the years, Comp-rite remains at the forefront of
          providing customized software and technology based solutions to a diverse range of corporations in Kenya.</p>
      </div>
    </div>
  </div>
</div>

<!-- Split banner section -->
<app-split-banner class="split-banner-section"></app-split-banner>

<!-- Call to action banner section -->
<app-banner class="banner-section"></app-banner>

<!-- News Cards Section -->
<div class="news-card-section custom-container px-4 my-5 mx-auto">
  <div class="text-center mt-0 mb-5">
    <h2>Latest news and information</h2>
    <p>Keep yourself informed with the latest information from our issuers.</p>
  </div>

  <div class="row">
    <div class="col-12 col-md-4 my-2 my-md-0">
      <app-news-card></app-news-card>
    </div>

    <div class="col-12 col-md-4 my-2 my-md-0">
      <app-news-card></app-news-card>
    </div>
    <div class="col-12 col-md-4 my-2 my-md-0">
      <app-news-card></app-news-card>
    </div>
  </div>
</div>