<!-- Parallax Section -->
<div class="parallax-section">
  <div class="row h-100 p-3">
    <div class="col-12 col-md-11 col-lg-10 col-xl-7 mx-auto d-flex align-items-center">
      <div class="p-3 text-center">
        <h1 class="mat-display-1 my-4">WELCOME TO COMPRITE KENYA LIMITED</h1>
        <p class="m-0">Comp-rite Kenya Ltd is a locally owned and operated company that has been in existence since
          1972.
          Our core
          strengths have always been technology focused, and over the years, Comp-rite remains at the forefront of
          providing customized software and technology based solutions to a diverse range of corporations in Kenya.</p>
      </div>
    </div>
  </div>
</div>

<!-- Split banner section -->
<app-split-banner class="split-banner-section">

  <!-- Column 1 Section -->
  <ng-container class="column1-content">
    <div class="column1 col-12 col-md p-5 h-100 d-flex align-items-center">

      <!-- Column Wrapper -->
      <div class="text-center mx-auto">
        <h2 class="mat-display-2 m-0">Payroll</h2>

        <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veritatis ab sequi
          recusandae
          eveniet
          placeat itaque minima est deleniti distinctio sint doloribus, hic et id porro quis asperiores facere!
          Reiciendis.</p>

        <app-custom-button [large]="true">
          Go to payroll
        </app-custom-button>
      </div>
    </div>
  </ng-container>

  <!-- Column 2 Section -->
  <ng-container class="column2-content">
    <div class="column2 col-12 col-md p-5 h-100 d-flex align-items-center">

      <!-- Column Wrapper -->
      <div class="text-center mx-auto">
        <h2 class="mat-display-2 m-0">Share registration</h2>

        <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veritatis ab sequi
          recusandae
          eveniet
          placeat itaque minima est deleniti distinctio sint doloribus, hic et id porro quis asperiores facere!
          Reiciendis.</p>

        <div class="row justify-content-around">
          <div class="col-12 col-lg my-2 my-lg-0">
            <app-custom-button [large]="true">
              For issuers
            </app-custom-button>
          </div>

          <div class="col-12 col-lg my-2 my-lg-0">
            <app-custom-button [large]="true">
              For shareholders
            </app-custom-button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-split-banner>

<!-- Call to action banner section -->
<app-banner class="banner-section">
  <h2 class="m-0">We're eager to hear from you</h2>
  <p class="m-3">Have an urgent question? Send us a message. Click the button below to go to our contact
    us
    page.
  </p>

  <app-custom-button [large]="true">
    Contact us
  </app-custom-button>
</app-banner>

<!-- News Cards Section -->
<div class="news-card-section custom-container px-4 my-5 mx-auto">
  <div class="text-center mt-0 mb-5">
    <h2>Latest news and information</h2>
    <p>Keep yourself informed with the latest information from our issuers.</p>
  </div>

  <div class="row">
    <div class="col-12 col-md-4 my-2 my-md-0">
      <app-news-card></app-news-card>
    </div>

    <div class="col-12 col-md-4 my-2 my-md-0">
      <app-news-card></app-news-card>
    </div>
    <div class="col-12 col-md-4 my-2 my-md-0">
      <app-news-card></app-news-card>
    </div>
  </div>
</div>