<!-- Parallax Section -->
<div class="parallax-section">
</div>

<!-- Call to action banner section -->
<app-banner class="banner-section"></app-banner>

<!-- News Cards Section -->
<div class="news-card-section custom-container px-4 my-5 mx-auto">
  <div class="text-center mt-0 mb-5">
    <h2>Latest news and information</h2>
    <p>Keep yourself informed with the latest information from our issuers.</p>
  </div>

  <div class="row">
    <div class="col-12 col-md-4 my-2 my-md-0">
      <app-news-card></app-news-card>
    </div>

    <div class="col-12 col-md-4 my-2 my-md-0">
      <app-news-card></app-news-card>
    </div>
    <div class="col-12 col-md-4 my-2 my-md-0">
      <app-news-card></app-news-card>
    </div>
  </div>
</div>