@import "abstracts/variables";
@import "base/typography";

/*Global styles*/
h2 {
  font-weight: 600;
  font-size: $heading-size;
}

p {
  font-size: $paragraph-size;
}

.parallax-section {
  z-index: -100;

  /* The image used */
  background-image: url("/assets/background.jpg");

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;

  h1 {
    font-weight: bold;
  }

  p {
    font-size: 18px;
  }
}

/* Styles for banner section */
.banner-section {
  h2 {
    font-size: $banner-size;
  }

  h2,
  p {
    color: white;
  }
}

/* Styles for news card section */
.news-card-section {
  h2 {
    color: $dark-blue;
  }

  p {
    color: $text-secondary;
  }
}
