@import "abstracts/variables";
@import "base/typography";

.parallax-section {
  z-index: -100;

  /* The image used */
  background-image: url("/assets/background.jpg");

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;

  h1 {
    font-weight: 600;
  }

  p {
    font-size: 18px;
  }
}

.news-card-section {
  h2 {
    color: $dark-blue;
    font-weight: 600;
    font-size: $heading-size;
  }

  p {
    color: $text-secondary;
    font-size: $paragraph-size;
  }
}
