@import "abstracts/variables";
@import "base/typography";

a {
  text-decoration: none;
  color: $text_primary;
}

mat-toolbar {
  position: relative;
  background: white;
  z-index: 2 !important;

  .logo {
    font-size: $paragraph_size;
    img {
      height: 40px;
      width: 40px;
    }

    font-weight: normal;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  ul > li {
    list-style: none;
    a {
      cursor: pointer;
      font-weight: normal;
      text-decoration: none;
      color: $text_primary;

      &:hover {
        color: $gold;
      }

      &::-moz-focus-inner {
        border: 0;
      }

      mat-icon {
        vertical-align: middle;
      }
    }
  }

  button[mat-icon-button],
  mat-icon {
    &:focus {
      outline: none;
    }
  }
}

.active-link {
  color: $gold !important;
  font-weight: bold;
}
