@import "abstracts/variables";
@import "base/typography";

.container-fluid {
  max-height: 500px;
  overflow-y: hidden;

  mat-expansion-panel {
    mat-panel-description {
      color: white;
    }

    p {
      font-size: $paragraph-size-sm;
    }
  }

  &:hover {
    overflow-y: scroll;
  }

  /*Style timeline scrollbar*/
  /* width */
  &::-webkit-scrollbar {
    position: absolute;
    right: 0;
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    height: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
