@import "abstracts/variables";
@import "base/typography";

.container-fluid {
  overflow-y: hidden;

  mat-expansion-panel {
    background-color: $dark-blue;

    mat-panel-description {
      color: white;
    }

    p {
      font-size: $paragraph-size-sm;
    }
  }
}
